.header {
  background: var(--color-white);
  padding: 4px 0px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
