.container {
  &__right {
    position: absolute;
    top: 50%;
    right: calc(0% + 8px);

    transform: translate(-50%, -50%);

    &-flag {
      border-radius: 50%;

      object-fit: fill;
      border: 1px solid var(--color-gray-2);
    }
  }
}
