:root {
  --color-white: #ffffff;

  --color-background: #f7f7f7;
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-text: #333333;
  --color-border: #dddddd;

  --color-black-light: #2e2f32;
  --color-black-default: #19191a;
  --color-black-dark: #000000;

  --color-gray-0: #3e3e3e;
  --color-gray-1: #989898;
  --color-gray-2: #e8e8e8;
  --color-gray-3: #7d7d7d;
  --color-gray-4: #d9d9d9;
}
