.container {
  margin: auto;
}

.inner {
  max-width: var(--main-container-width-inner);
}

.wide {
  max-width: var(--main-container-width-wide);
  padding: 0px 8px;
}

.mobile {
  width: 100%;
  padding: 0px 8px;
}
